<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Blog</title>

	<!-- favicon -->
	<title>Developer</title>


	<link rel="stylesheet" type="text/css" href="/css/meanmenu.min.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<header>
		<!-- Intro settings -->
		<style>
			#intro {
				/* Margin to fix overlapping fixed navbar */
				margin-top: 58px;
			}

			@media (max-width: 991px) {
				#intro {
					/* Margin to fix overlapping fixed navbar */
					margin-top: 45px;
				}
			}
		</style>
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<div class="container-fluid">
			<!-- Navbar brand -->
			<a class="navbar-brand" href="/">
				<img src="/img/logo.jpeg" height="46" alt="" loading="lazy" style="margin-top: -3px; border-radius: 15px; width: 100px;" />
			</a>
			<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
				aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarExample01">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
					<li class="nav-item active ">
						<a class="nav-link text-dark" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="/blog">Show Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="/create" target="_blank">Create</a>
					</li>
					<form action="/search" class="form-data" method="GET">
						<li class="nav-item">
							<input type="text" class="form-control " name="search" placeholder="Search">
							<button class="btn btn-success"
								style="margin-top:-57px; margin-left: 200px; ">Search</button>

						</li>

					</form>
				</ul>


			</div>
		</div>
	</nav>